<div class="center">
  <h1>PiFilling</h1>
  <form (ngSubmit)="loginUser()" #loginUserForm="ngForm">
    <mat-form-field>
      <input type="text" name="username" placeholder="Username" matInput 
      [(ngModel)]="user.username" #username="ngModel">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" name="password" placeholder="Password" matInput
      [(ngModel)]="user.password" #password="ngModel">
    </mat-form-field>
    <br>
    <button type="submit" mat-button>Submit</button>
  </form>
</div>