.file-card-container {
  margin: 20px;
}

.file-card {
  cursor: pointer;
  
  img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
}

.file-drop-active {
  background-color: rgba(63, 81, 181, 0.4);
}

.queued-file-list-header {
  position: fixed;
  bottom: 70px;
  right: 15px;
  height: 40px;
  width: 300px;
  color: white;
  background-color: rgb(63, 81, 181);
  border: 1px solid rgba(0, 0, 0, .2);
}

.queued-file-list-header-title {
  padding-left: 10px;
}

.queued-file-list-header-close {
  padding-right: 10px;
  float: right;
  cursor: pointer;
}

.queued-file-list-body {
  position: fixed;
  bottom: 15px;
  right: 15px;
  max-height: 54px;
  width: 300px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
}
