<div class="file-card-container" (drop)="queueUpload($event)">
  <mat-grid-list cols="{{(isHandset$ | async) ? 1 : 3}}" rowHeight="375px">
    <mat-grid-tile *ngFor="let file of files">
      <mat-card class="file-card" tabindex="0">
        <img mat-card-image src="{{fileStorageBaseUrl}}{{file.path}}/{{file.filename}}" alt="{{file.filename}}">
        <mat-card-content>
          {{file.filename}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="queuedFiles.length > 0" class="progress-bar-container">
  Uploads
  <mat-divider></mat-divider>
  <div class="queued-file-list">
    <mat-card *ngFor="let queuedFile of queuedFiles">
      <mat-card-content>
        {{queuedFile.filename}}
        <mat-progress-bar [value]="queuedFile.uploadProgress"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>