// .file-card {
//   height: 300px;
//   width: 300px;
//   padding-top: 3px;
//   cursor: pointer;

//   img {
//     width: 100%;
//     height: auto;
//   }
// }

.file-card-container {
  margin: 20px;
}

.file-card {
  cursor: pointer;
  
  img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
}