.file-card-container {
  margin: 20px;
}

.file-card {
  cursor: pointer;
  
  img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
}

.file-drop-active {
  background-color: rgba(63, 81, 181, 0.4);
}